<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Product</title>
    </head>
    <body>
        <h1>Product List</h1>
        {% if error %}
        <p>error</p>
        {% if products %}
        <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        <p>No products</p>
        {% endif % }
    </body>
</html>